---
// src/components/blocks/PageHeaderDetails.astro

/*
================================================================================
Component: PageHeaderDetails
Description: A header section for detail pages, featuring a badge, a main title,
             and a gradient background.
================================================================================
*/

import { Image } from 'astro:assets';
import type { ImageMetadata } from 'astro';

export interface Props {
  badge: string;
  title: string;
  gradientBackground: ImageMetadata;
}

const { badge, title, gradientBackground } = Astro.props;
---

<section
  class="pt-32 md:pt-44 lg:pt-[200px] pb-10 md:pb-16 lg:pb-[88px] xl:pb-[100px] relative overflow-hidden"
>
  <div
    id="hero-gradient-wrapper"
    class="absolute w-full h-full top-0 left-0 -z-10 blur-[35px] md:blur-[60px] max-sm:scale-75 sm:scale-75"
  >
    <Image
      src={gradientBackground}
      alt="hero-gradient-background"
      id="hero-gradient"
      class="absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-[45%]"
    />
  </div>

  <div class="container reveal-me">
    <div class="text-center">
      <div class="rv-badge mb-4 lg:mb-10">
        <span class="rv-badge-text">{badge}</span>
      </div>

      <h1 class="mb-5 lg:mb-8 max-sm:max-w-md max-sm:mx-auto">
        {title}
      </h1>
    </div>
  </div>
</section>