---
// src/components/blocks/Testimonials-v7.astro

/*
================================================================================
Component: TestimonialsV7
Description: A block that displays a header and two horizontally scrolling
             marquees of testimonial cards, moving in opposite directions.
================================================================================
*/

import TestimonialCardV7 from '../cards/TestimonialCardV7.astro';
import type { Props as Testimonial } from '../cards/TestimonialCardV7.astro';

export interface Props {
  badgeText: string;
  heading: string;
  testimonialsRow1: Testimonial[];
  testimonialsRow2: Testimonial[];
}

const { badgeText, heading, testimonialsRow1, testimonialsRow2 } = Astro.props;
---

<section
  class="pt-14 md:pt-16 lg:pt-[88px] xl:pt-[100px] pb-14 md:pb-16 lg:pb-[88px] xl:pb-[100px] relative overflow-hidden"
>
  <div class="container">
    <div class="text-center mb-10 md:mb-20">
      <div class="rv-badge mb-3 reveal-me">
        <span class="rv-badge-text">{badgeText}</span>
      </div>
      <h2 class="text-appear">{heading}</h2>
    </div>
  </div>
  <!-- Marquee 1 -->
  <div class="relative">
    <div
      class="absolute left-0 top-0 h-full w-[15%] md:w-[20%] bg-gradient-to-r from-backgroundBody to-transparent dark:from-dark-gradient z-40"
    >
    </div>
    <div
      class="absolute right-0 top-0 h-full w-[15%] md:w-[20%] bg-gradient-to-l from-backgroundBody to-transparent dark:from-dark-gradient z-40"
    >
    </div>
    <div class="marquee-container reveal-me">
      <div class="flex gap-5 md:gap-7">
        {testimonialsRow1.map((testimonial) => <TestimonialCardV7 {...testimonial} />)}
      </div>
    </div>
  </div>

  <!-- Marquee 2 (Reverse) -->
  <div class="relative">
    <div
      class="absolute left-0 top-0 h-full w-[10%] md:w-[20%] bg-gradient-to-r from-backgroundBody to-transparent dark:from-dark-gradient z-40"
    >
    </div>
    <div
      class="absolute right-0 top-0 h-full w-[10%] md:w-[20%] bg-gradient-to-l from-backgroundBody to-transparent dark:from-dark-gradient z-40"
    >
    </div>
    <div class="marquee-reverse-container reveal-me mt-5 md:mt-7">
      <div class="flex gap-5 md:gap-7">
        {testimonialsRow2.map((testimonial) => <TestimonialCardV7 {...testimonial} />)}
      </div>
    </div>
  </div>
</section>
